.movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.movie-card {
    display: flex;
    padding: 1rem;
    width: 32.5%;
    background: #fff;
}

.movie-card__left {
    position: relative;
}

.movie-card__left img {
    width: 250px;
    height: auto;
}

.movie-card__left span {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 20px;
    color: #040b27;
    background: #00b1d7;
}

.movie-card__right {
    padding: 0 1.5rem;
    color: #4d4d4d;
}

.movie-card__right span {
    display: block;
    font-size: 18px;
}

.movie-card__right h2{
    color: #00b1d7;
}