@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  background: #040b27;
}

.logo {
  display: inline-block;
  width: auto;
  height: 1em;
  margin-right: 0.3em;
}

.content {
  padding: 0 2.5rem 2.5rem 2.5rem;
  display: flex;
}

@media (max-width: 768px) {
  .content {
    padding: 0 1rem 2.5rem 1rem;
  }
}
